name: CI

on:
    push: {}

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: "test (current version)"
              run: |
                  ./tools/bazel --version
                  ./tools/bazel test //...

            - name: "test (bazel 8.x)"
              run: |
                  echo "8.0.0" > .bazelversion
                  ./tools/bazel --version
                  ./tools/bazel test //...

            - name: "test (bazel 7.4.x)"
              run: |
                  echo "7.4.0" > .bazelversion
                  ./tools/bazel --version
                  ./tools/bazel test //... --test_tag_filters=-bazel-8

